.section0__title {
  width: 100%;
  color: #FFF;
  text-align: center;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -22px;
  margin-bottom: 25px;
  margin-left: 50px;
}