.section0__shadow_right {
    width: 462px;
    height: 100%;
    background-image: url(../../../images/Layer\ 157\ 2.png);
    mix-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    border: none;
    margin-right: -22px;
  }