.section1__blueglow {
  width: 1977px;
  height: 172px;
  background-image: url(../../../images/BLUE\ GLOW\ 3.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
}